.card {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 10px;
	max-width: 1400px;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    padding : 5vh;
}

.imgContainer {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.imgContainer img {
	margin-top: 20px;
	max-width: 90%;
}

.info {
	margin-top: 20px;
    text-align: center;
}

.name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}
