.header {
  background-color: #021334;
  width : 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  width: 20vh;
  height: 15vh;
}

.logocontainer {}

.favorites {

}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin : 15px;
}